################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/LLD/FileContentIndex
/.vs/LLD/v17/.wsuo
*.sqlite
